<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Voidfire Apprentice</title>
<style>
@all css/*
</style>
</head>
<body>
<header id="status-bar">
<span id="left"></span>
&nbsp;
<span id="right"></span>
</header>
<main id="story">
<noscript>Your browser does not support Javascript.</noscript>
</main>
<footer>
<input type="text" id="command" placeholder=">">
</footer>
<script type="text/javascript">
@all dist/*
@all data/*
@all js/*
</script>
</body>
</html>